<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COMIGHT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <COMIGHT.Properties.Settings>
            <setting name="latestFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="latestURL" serializeAs="String">
                <value />
            </setting>
            <setting name="latestStockDataColumnNamesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="lastestHeaderFooterCountStr" serializeAs="String">
                <value />
            </setting>
            <setting name="latestSplittingColumnLetter" serializeAs="String">
                <value />
            </setting>
            <setting name="latestExcelWorksheetIndexesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="latestExcelWorksheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="latestOperatingRangeAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="latestKeyDataColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="latestFontName" serializeAs="String">
                <value />
            </setting>
        </COMIGHT.Properties.Settings>
    </userSettings>
</configuration>