<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COMIGHT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <COMIGHT.Properties.Settings>
            <setting name="latestFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="latestURL" serializeAs="String">
                <value />
            </setting>
            <setting name="latestStockDataColumnNamesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="lastestHeaderAndFooterRowCountStr" serializeAs="String">
                <value />
            </setting>
            <setting name="latestKeyColumnLetter" serializeAs="String">
                <value />
            </setting>
            <setting name="latestExcelWorksheetIndexesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="latestExcelWorksheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="latestOperatingRangeAddresses" serializeAs="String">
                <value />
            </setting>
            <setting name="latestKeyDataColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="latestFontName" serializeAs="String">
                <value />
            </setting>
            <setting name="latestBatchProcessWorkbookOption" serializeAs="String">
                <value />
            </setting>
            <setting name="latestSplitWorksheetOption" serializeAs="String">
                <value />
            </setting>
            <setting name="savingFolderPath" serializeAs="String">
                <value>C:\COMIGHT Files</value>
            </setting>
            <setting name="cnTitleFontName" serializeAs="String">
                <value>华文中宋</value>
            </setting>
            <setting name="cnBodyFontName" serializeAs="String">
                <value>仿宋</value>
            </setting>
            <setting name="cnHeading0FontName" serializeAs="String">
                <value>黑体</value>
            </setting>
            <setting name="cnHeading1FontName" serializeAs="String">
                <value>黑体</value>
            </setting>
            <setting name="cnHeading2FontName" serializeAs="String">
                <value>楷体</value>
            </setting>
            <setting name="cnHeading3_4FontName" serializeAs="String">
                <value>仿宋</value>
            </setting>
            <setting name="enTitleFontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="enBodyFontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="enHeadingFontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="footerFontName" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="cnTitleFontSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="cnBodyFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cnHeading0FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cnHeading1FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cnHeading2FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cnHeading3_4FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="enTitleFontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="enBodyFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="enHeadingFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="footerFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="cnLineSpace" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="enLineSpace" serializeAs="String">
                <value>24</value>
            </setting>
        </COMIGHT.Properties.Settings>
    </userSettings>
</configuration>